[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
fabric = "*"

[packages]
scrapy = "*"
requests = "*"
prettyconf = "*"
mongoengine = "*"
pyyaml = "*"

[requires]
python_version = "{{cookiecutter.pipenv_python_version}}"
